*{
    margin: 0;
    padding: 0;
}

.menu{
    height: 110px;
    border: dotted grey;
}

.menu-text{
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    margin-left: 115px;
}

.menu-text ul a{
    margin-right: 13px;
}

.center-image{
    position: relative;
    margin: 5px;
    float: left;
}

.image-rotation{
    animation: rotate 2s linear infinite;
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}